<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Formulário de Cadastro</title>
</head>
<body>

    <form action="/" method="POST" enctype="multipart/form-data">

        <div class="form-box-img">
            <img src="/static/css/image/logo.png" alt="Logo da Empresa" class="logo">

        </div>

        <!-- Nome Completo -->
        <div class="form-box">
            <label>Nome Completo:</label>
            <text>Preencha seu Nome Completo sem Abreviar conforme está no RG</text>
            <input type="text" name="nome" required placeholder="Sua resposta">
        </div>

        <!-- Data de Nascimento -->
        <div class="form-box">
            <label>Data de Nascimento:</label>
            <text>Preencha sua Data de Nascimento</text>
            <input type="date" name="nascimento" required>
        </div>

        <!-- CPF -->
        <div class="form-box">
            <label>CPF:</label>
            <text>Preencha somente com números sem pontuação</text>
            <input type="text" name="cpf" required placeholder="Sua resposta">
        </div>

        <!-- RG -->
        <div class="form-box">
            <label>RG:</label>
            <text>Preencha seu RG com Orgão Expedidor (Ex. SSP-PR / SEJUSP-PR) </text>
            <input type="text" name="rg" required placeholder="Sua resposta">
        </div>

        <!-- PIS -->
        <div class="form-box">
            <label>PIS:</label>
            <text>Preencha somente o número de PIS, você encontra ele na carteira de trabalho ou no App Caixa Tem</text>
            <input type="text" name="pis" required placeholder="Sua resposta">
        </div>

        <!-- Endereço -->
        <div class="form-box">
            <label>Endereço:</label>
            <text>Preencha com Endereço Completo e Bairro (Rua, Av, TV, Praça...)</text>
            <input type="text" name="endereco" required placeholder="Sua resposta">
        </div>

        <!-- CEP -->
        <div class="form-box">
            <label>CEP:</label>
            <input type="text" name="cep" required placeholder="Sua resposta">
        </div>

        <!-- Cidade -->
        <div class="form-box">
            <label>Cidade:</label>
            <input type="text" name="cidade" required placeholder="Sua resposta">
        </div>

        <!-- Estado -->
        <div class="form-box">
            <label>Estado:</label>
            <input type="text" name="estado" required placeholder="Sua resposta">
        </div>

        <!-- Celular -->
        <div class="form-box">
            <label>Celular:</label>
            <input type="text" name="celular" required placeholder="Sua resposta">
        </div>

        <!-- Email -->
        <div class="form-box">
            <label>Email:</label>
            <input type="email" name="email" required placeholder="Sua resposta">
        </div>

        <!-- Estado Civil -->
        <div class="form-box">
            <label>Estado Civil:</label>
            <div>
                <class = input type="radio" name="estado_civil" value="Solteiro(a)" required> Solteiro(a)<br>
                <input type="radio" name="estado_civil" value="Casado(a)"> Casado(a)<br>
                <input type="radio" name="estado_civil" value="Viúvo(a)"> Viúvo(a)<br>
                <input type="radio" name="estado_civil" value="Divorciado(a)"> Divorciado(a)<br>
                <input type="radio" name="estado_civil" value="União Estável"> União Estável
            </div>
        </div>

        <!-- Raça/Cor -->
        <div class="form-box">
            <label>Raça/Cor:</label>
            <text>Preencha de Acordo com a Certidão de Nascimento</text>
            <div>
                <input type="radio" name="raca_cor" value="Branca" required> Branca<br>
                <input type="radio" name="raca_cor" value="Preta"> Preta<br>
                <input type="radio" name="raca_cor" value="Parda"> Parda<br>
                <input type="radio" name="raca_cor" value="Amarela"> Amarela<br>
                <input type="radio" name="raca_cor" value="Indígena"> Indígena
            </div>
        </div>

        <!-- Uniforme Camisa Social -->
        <div class="form-box">
            <label>Uniforme Camisa Social:</label>
            <div>
                <input type="radio" name="camisa_social" value="PP" required> PP<br>
                <input type="radio" name="camisa_social" value="P"> P<br>
                <input type="radio" name="camisa_social" value="M"> M<br>
                <input type="radio" name="camisa_social" value="G"> G<br>
                <input type="radio" name="camisa_social" value="GG1"> GG1<br>
                <input type="radio" name="camisa_social" value="GG2"> GG2<br>
                <input type="radio" name="camisa_social" value="GG3"> GG3
            </div>
        </div>

        <!-- Uniforme Polo -->
        <div class="form-box">
            <label>Uniforme Polo:</label>
            <div>
                <input type="radio" name="camisa_polo" value="PP" required> PP<br>
                <input type="radio" name="camisa_polo" value="P"> P<br>
                <input type="radio" name="camisa_polo" value="M"> M<br>
                <input type="radio" name="camisa_polo" value="G"> G<br>
                <input type="radio" name="camisa_polo" value="GG1"> GG1<br>
                <input type="radio" name="camisa_polo" value="GG2"> GG2<br>
                <input type="radio" name="camisa_polo" value="GG3"> GG3<br>
                <input type="radio" name="camisa_polo" value="GG4"> GG4
            </div>
        </div>
        <div class="form-box">
            <label for="cnh">Foto da CNH ou RG:</label>
            <text>Foto ou PDF(Obrigatório frente e verso do documento.)</text>
            <input type="file" id="cnh" name="cnh" accept="image/*,application/pdf" capture="camera" required>
        </div>
        

        <!-- Primeiro Emprego -->
        <div class="form-box">
            <label>Primeiro Emprego?</label>
            <div>
                <input type="radio" name="primeiro_emprego" value="Sim" required> Sim<br>
                <input type="radio" name="primeiro_emprego" value="Não"> Não
            </div>
        </div>

        <!-- Botões -->
        <button type="submit">Enviar</button>
        <button type="reset">Limpar Formulário</button>
    </form>
</body>
</html>
todo o procedimento 
deve ser realizado 

